@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --black: #00035f;
    --red: #F25B43;
    --light-yellow: #F7DB72;
    --yellow: #FAA528;
    --cerise: #C13291;  
    --purple: #793DC3;
    --blue: #67A1CE;
    font-size: 18px;
  }

* {
    box-sizing: border-box;
    margin: 0;
}

h1,
h2,
h3 {
	margin: 0;
	padding: 1em 1rem;
}

p {
	margin: 0;
	padding: 1.5rem 1rem;
}


body {
    font-family: "Roboto", sans-serif;
	line-height: 1.5;
    color: var(--black); 

     
}

.container > * {
    padding: 1em 2em;
}


.grid-container {
   display:grid;

   grid-template-columns: auto minmax(auto,40rem)minmax(auto,10rem)minmax(auto,10rem)minmax(auto,10rem)minmax(auto,10rem)minmax(auto,10rem) auto;
   grid-template-rows: fit-content auto fit-content fit-content;
   
   
   gap:10px;
   background-color: #ffffff;
   padding: 10px;
    
}





.main-content{



    background-color:#FAA528;
    grid-column: 2/span 4;
    grid-row: 2;
   

}


.item-header{

    
    background-color:#793DC3;
    grid-column: 1/-1;
    grid-row: 1;
    


}

.sidebar{

    background-color:#F25B43;
    grid-column: 6/span 2;
    grid-row:2;

    

}




.footer{

    
    background-color:#67A1CE;
    grid-row: 4;
    grid-column:1/-1;



}


.adspace-1{

    background-color:#F7DB72;
    grid-column: 2/span 3;
    grid-row:3;


}

.adspace-2{

   background-color: #C13291; 
   grid-column: 5/span 3;
    grid-row:3;

    
}





